.section1 {
    background-color: #1F2937;
    padding-top:20px;
    padding-bottom: 20px;
}
.top-section {
    display: flex;
    justify-content: center;
}
.bottom-section {
    display: flex;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    margin: 40px;
    gap: 32px;
}
.links {
    justify-content: center;
    padding-right: 200px;
}
.item {
    padding:8px;
}
.heading {
    color: #f9faf8;
}
.item.heading {
    flex: 1;
    text-align: center;
}
.subtext {
    color: #e5e7eb;
}
.button {
    background-color: #3882f6;
}
.image {
    border: 5px solid #3882f6;
    border-radius: 25px;
    height: 120px;
    width: 120px;
}
.image-text {
    width: 120px;
}
.vertical-container {
    flex-direction: column;
}