.section1 {
    background-color: #1F2937;
    padding-top:20px;
    padding-bottom: 20px;
}
.section3 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding-left: 30%;
    padding-right: 30%;
}
.top-section {
    display: flex;
    justify-content: center;
}
.bottom-section {
    display: flex;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    margin: 40px;
    gap: 32px;
}
.links {
    justify-content: center;
    padding-right: 200px;
}
.link-item {
    padding:8px;
}
.heading {
    color: #f9faf8;
}
.heading.logo{
    flex: 1;
    text-align: center;
}
.regtext {
    color: #e5e7eb;
}
.section-heading{
    color: #1f2937;
    font-size: 36px;
}
.name {
    color: #1F2937;
    text-align: right;
}
.button {
    background-color: #3882f6;
}
.image {
    border: 5px solid #3882f6;
    border-radius: 25px;
    height: 120px;
    width: 120px;
}
.image-text {
    width: 120px;
    text-align: center;
}
.vertical-container {
    flex-direction: column;
}
.quote {
    font-weight: 300;
}